spring:
  application:
    name: customer
  profiles:
    active: production
  main:
    allow-bean-definition-overriding: true

# ACTUATOR INFO
info:
  app:
    name: "Customer"
    version: "0.0.1"
    profile: ${spring.profiles.active}
  serverInfo:
    port: ${server.port}

management:
  endpoints:
    web:
      exposure:
        include: 'info, health, refresh, metrics, mappings'